img {
	display:none;
}

.not-displayed {
	display: none;
}

.nav {
	display: none;
}

#sliders {
	display: none;
}

.h1-print {
	display:inline;
}

.h1-div {
	display: none;
}

.alt-img {
	display: inline;
}

#title-div {
	display : inline-block;
}

.img-div {
	display : inline-block;
}

.logo {
	display : inline-block;
	width : 180px;
	height : 100px;
}

.config {
	display : block;
	border-style: solid;
	border-right-style: none;
	border-left-style: none;
	border-width: 2px;
}

.config p{
	display : inline;
}

.boxState {
	//display : inline;
}

.additional {
	display: none;
}

.config p:before {
    content: "\00BB";
    margin-right: 6px;
}

#table-configs {
	//display: none;
}

#mySidenav {
	display: none;
}

.config-date{
	display:block;
}

.modal{
	display: none;
}

#lucid-chart {
	display: none;
}

#ontology-image {
	display: inline;
}